.EX1{
    background: #d3afaf;
}

.EX2{
    background: silver;
}

.ex2-button{
    width: 150px;
    height: 35px;
    font-size: x-large;
}

.EX3{
    background: #e0c595;
}

.EX4{
    background: #a9fcdf;
}